* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    color: #696B79;
    font-size: 18px;
    padding: 5px;
    font-family: "Whitney", Arial, Helvetica, sans-serif;
}

.secure-logo {
    display: flex;
    text-align: center;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #696B79;
}

.footer_container {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-block-end: 40px;
    padding-right: 50px;
    font-family: "Whitney", Helvetica, Arial, sans-serif!important;
}

.Help {
    flex: 1;
    text-align: right;
}

h4 {
    text-decoration: none;
    font-family: Whitney, Helvetica, Arial, sans-serif!important;
    color: #696B79;
    word-spacing: 5px;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: small;
}

.image2 {
    width: 30px;
    margin-top: 10px;
}

h4 {
    margin-left: 5px;
}

.address {
    border: 1px solid #F5F5F6;
    width: 36%;
    margin: 40px 40px 40px 250px;
}

.container1 {
    margin: 15px;
}

.name {
    position: relative;
    display: inline-block;
    width: 98%;
    height: 40px;
    border-width: thin;
    border: 1px solid #dcdcdf;
    ;
    border-radius: 2px;
    padding-left: 13px;
    ;
}

.data {
    position: relative;
    display: inline-block;
    width: 45%;
    height: 40px;
    border: none;
    background-color: rgb(229, 226, 226);
    padding-left: 13px;
}

#data2 {
    margin-right: 10px;
}

.button1 {
    background-color: white;
    border: 1px solid #ff3f6c;
    color: #ff3f6c;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    width: 90px;
    height: 35px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.container2 {
    background: #fff;
    padding: 8px;
    box-shadow: 0 -1px 4px 0 #1f1e1e4d;
}

.button2 {
    background-color: #ff3f6c!important;
    font-size: 14px!important;
    border-radius: 4px!important;
    padding: 14px!important;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    border: none;
}

h3 {
    font-size: 12px;
    font-weight: 600;
    color: #282c3f;
    text-rendering: optimizeLegibility;
}

#current_step {
    color: rgb(43, 160, 92)
}

.main_content {
    height: 90%;
    display: flex;
    justify-items: center;
}

.payments_details {
    padding: 20px;
}

#Place_Order {
    background-color: #ff3f6c!important;
    font-size: 14px!important;
    border-radius: 4px!important;
    padding: 14px!important;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    border: none;
}