* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    color: #696B79;
    font-size: 18px;
    padding: 5px;
    font-family: "Whitney", Arial, Helvetica, sans-serif;
}

.secure-logo {
    display: flex;
    text-align: center;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #696B79;
}


/* ---------------- footer ----------------- */

.footer_container {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-block-end: 40px;
    padding-right: 50px;
    font-family: "Whitney", Helvetica, Arial, sans-serif!important;
}

.Help {
    flex: 1;
    text-align: right;
}

#current_step {
    color: rgb(43, 160, 92)
}


/* ------------ Main cart ---------------------- */

.main_content {
    font-family: "Whitney", Helvetica, Arial, sans-serif!important;
    text-rendering: optimizeLegibility;
    font-size: 13px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    color: #282c3f;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    width: 100%;
    height: 90%;
    padding-right: 20px;
    border-right: 1px solid #eaeaec;
    padding-top: 32px;
}

.main_cart {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cart_details {
    display: flex;
    padding: 30px;
    border: 1px solid #dcdcdd;
}

.avail_offer {
    font-family: "Whitney", Helvetica, Arial, sans-serif!important;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    line-height: 1.42857143;
    -webkit-font-smoothing: antialiased;
    color: black;
    -webkit-text-size-adjust: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    display: inline-block;
    color: #282c3f;
    font-size: 18px;
    align-items: center;
    padding: 20px;
    border-right: 1px solid #dcdcdd;
}

#more {
    display: none;
}

#showMoreOffer {
    padding-left: 17px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #ff3f6c;
    cursor: pointer;
    display: inline-block;
    border: none;
    text-decoration: none;
    background-color: #ffffff;
}

.coupons {
    font-family: "Whitney", Helvetica, Arial, sans-serif!important;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    align-items: left;
    padding: 20px;
    margin-right: 100px;
}

#applyOffer {
    padding-right: 17px;
    padding-left: 17px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #ff3f6c;
    cursor: pointer;
    display: inline-block;
    border: solid 3px #ff3f6c;
    border-radius: 3px;
    text-decoration: none;
    background-color: #ffffff;
}

#applyNow {
    font-family: "Whitney", Helvetica, Arial, sans-serif!important;
    font-size: 20px;
    text-transform: capitalize;
    color: #ff3f6c;
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
}

.myBtn2 {
    border: 1px solid #f2f2f5;
    border-radius: 80px;
    background-color: white;
    color: #696B79;
    margin-left: 80px;
    font-family: Whitney, Helvetica, Arial, sans-serif!important;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.myBtn2:hover {
    background: white;
    border: 1px solid #ff3f6c;
    color: #ff3f6c;
}

.total {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    width: 53.6%;
}

.par {
    font-family: "Whitney", Helvetica, Arial, sans-serif!important;
    background-color: #fff1ec;
    margin-left: 80px;
    border: 1px solid #f2f2f5;
    height: 220px;
}

#addImages {
    width: 94%;
    height: 200px;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid #fff1ec;
}

#img2 {
    height: 80%;
    float: left;
    margin: 16px 10px;
}

.child {
    float: left
}

.p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 24px;
    color: #282c3f;
    font-size: 20px;
    font-family: Whitney, Helvetica, Arial, sans-serif!important;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 62%;
    display: inline;
    color: #94969f;
}

.payments_details {
    padding: 20px;
}

#Place_Order {
    background-color: #ff3f6c;
    color: white;
    width: 100%;
    height: 40px;
    border: 1px solid #ff3f6c;
}

.address {
    font-family: "Whitney", Helvetica, Arial, sans-serif!important;
    font-size: 20px;
    padding: 20px;
    border: #696B79;
    display: flex;
    flex-direction: row;
}

.address button {
    background: white;
    border: 3px solid #ff3f6c;
    color: #ff3f6c;
    border-radius: 5px;
    padding: 5px;
}


/* --------------------------------start--------------------------------------- */

.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content3 {
    max-width: 500px;
    background-color: white;
    height: 80%;
    margin-top: 25px;
    margin-left: 35%;
    margin-right: 20%;
    border-radius: 10px;
}

.closeBtn3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn3:hover,
.closeBtn3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.apply-coupon-head {
    padding: 20px;
    font-weight: 600;
}

.Coupon {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container1 {
    margin: 15px;
    border-width: 100%;
}

.container2 {
    background: #fff;
    padding: 8px;
    box-shadow: 0 -3px 3px 0 #1f1e1e4d;
}

.button2 {
    background-color: #ff3f6c!important;
    font-size: 14px!important;
    border-radius: 4px!important;
    padding: 14px!important;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    border: none;
}

.enter-code {
    border: 1px solid #d5d6d9;
    padding: 11px 16px 14px;
    position: relative;
    height: 44px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 4px;
}

#coupon-code {
    caret-color: #ff3f6c;
    padding: 0;
    border: none;
    width: 75%;
    font-size: 13px;
    font-weight: 100px;
}

#check-btn {
    position: absolute;
    top: 11px;
    right: 16px;
    font-size: 14px;
    color: #ff9fb5;
    font-weight: 600;
    letter-spacing: 1px;
}

.coupon-code {
    width: 100%;
    padding: 16px 23px 16px 24px;
    background: #fff;
    margin-bottom: 1px;
}

.coupon-id {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    vertical-align: middle;
    padding: 10px;
    margin-left: 5px;
}

.coupon1 {
    fill: #ff3f6c;
    font-size: 20px;
    position: relative;
    margin-top: 8px;
    fill-rule: evenodd;
}

.coupon-name {
    display: flex;
    margin-left: 16px;
    padding: 8px 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    color: #ff3f6c;
    border: 1px dashed #ff3f6c;
    border-radius: 3px px;
}

.coupon-offer {
    margin-left: 55px;
}

.coupon-offer>p {
    color: #282c3f;
    font-size: 14px;
    font-weight: 600;
}

.applyCouponHead {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    border-bottom: 1px solid #eaeaec;
}

.description {
    border-top: 1px solid #eaeaec;
    margin-bottom: 190px;
}