
/* ....................................Navbar */

* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

nav {
    flex: 1;
    text-align: center;
}

.logo img{
    width: 45px;
    height: 30px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 15%;
}

nav ul li {
    display: inline-block;
    color: #696B79;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    font-family: "Whitney", Arial, Helvetica, sans-serif;

}

.secure-logo {
    display: flex;
    text-align: center;
    margin-right: 20px;

}

.secure-logo img{
    width: 26px;
    height: 28px;
}

.secure-logo span{
    padding: 8px;
    letter-spacing: 3px;
    color: #535766;
    font-size: 12px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #696B79;
}

/* ...................................footer  */

.CheckoutFooter{
    width: 75%;
    margin: auto;
}

.CheckoutFootercontainer {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-block-end: 40px;
    padding-right: 50px;
    font-family: "Whitney", Helvetica, Arial, sans-serif!important;
}

.Help {
    flex: 1;
    text-align: right;
    font-size: 14px;
}


.CheckoutFooterimages img{
    width: 60px;
    height: 38px;
}