* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Scrollbar-Width */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #88858a #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #88858a;
  border-radius: 2px;
  border: 3px solid #968d8d;
}

body {
  font-family: "Whitney", -apple-system, "BlinkMacSystemFont", "Segoe UI",
    "Roboto", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: rgb(250, 251, 253);
}

/* Navbar section CSS*/
.header {
  background: #fff;
  z-index: 10;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 80px;
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
  color: black;
}
.header a img {
  width: 53px;
  height: 36px;
}
.header ul {
  list-style: none;
}

.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li {
  font-size: 13px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out;
}
.menu-items .menu-item-1:hover {
  border-bottom: 2px solid #ee5f73;
}
.menu-items .menu-item-2:hover {
  border-bottom: 2px solid #fb56c1;
}
.menu-items .menu-item-3:hover {
  border-bottom: 2px solid #f26a10;
}
.menu-items .menu-item-4:hover {
  border-bottom: 2px solid #f2c210;
}
.menu-items .menu-item-5:hover {
  border-bottom: 2px solid #0db7af;
}
.menu-items .menu-item-6:hover {
  border-bottom: 2px solid #ff3f6c;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.menu-right {
  top: 0;
  left: 110%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  top: 34px;
  opacity: 1;
  visibility: visible;
}
.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/* mega menu  */
.mega-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-menu .content {
  background: #fff;
  position: relative;
  top: 30px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 70vw;
  justify-content: space-between;
}
.mega-menu .content4 {
  background: #fff;
  position: relative;
  top: 32px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  width: 70vw;
  justify-content: space-between;
}
.content .col,
.content4 .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5rem;
}
.content .col .item-1-heading {
  color: #ee5f73;
  font-size: 0.8rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col .item-2-heading {
  color: #fb56c1;
  font-size: 0.8rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col .item-3-heading {
  color: #f26a10;
  font-size: 0.8rem;
  line-height: 3rem;
  font-weight: bold;
}
.content4 .col .item-4-heading {
  color: #f2c210;
  font-size: 0.8rem;
  line-height: 3rem;
  font-weight: bold;
}
.content4 .col .item-5-heading {
  color: #0db7af;
  font-size: 0.8rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2rem;
}
.col .mega-links li,
.col .mega-links li a {
  padding: 0rem;
  color: gray;
  font-weight: 400;
  font-size: 14px;
  font-weight: 400;
}
.menu-items li:hover .mega-menu {
  top: 50px;
  opacity: 1;
  visibility: visible;
}
.col .mega-links :hover {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.nav-last {
  padding: 0 12px 0 17px;
  position: relative;
  display: flex;
  height: 40px;
}
.nav-last > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  align-items: center;
  padding-top: 5px;
  margin-left: 15px;
}

#svg {
  height: 14px;
  margin-left: 0px;
}
.search-div {
  position: relative;
  left: 40px;
  display: flex;
  width: 32%;
  background-color: #f5f5f6;
  height: 30px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
}

#searchpng {
  width: 15px;
  margin: 15px;
  opacity: 0.5;
}
.search-div input {
  width: 70%;
  border: none;
  margin-left: 2%;
  background-color: #f5f5f6;
  outline: none;
}

.menu-item-6 .sup-part {
  color: red;
  position: relative;
  font-size: 8px;
  font-weight: 900;
  bottom: 8px;
}

.image-1 {
  display: block;
  width: 103.1px;
  height: 29.5px;
  margin: 10px auto 0;
}
.image-2 {
  display: block;
  width: 514px;
  height: 274px;
  margin: 20px auto 0;
}
.image-3 {
  display: block;
  width: 192px;
  height: 42px;
  object-fit: cover;
  margin: 20px auto 0;
  cursor: pointer;
}
.mega-menu .content-6 {
  background: #fff;
  position: relative;
  top: 30px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
  width: fit-content;
  justify-content: space-between;
}
.content-6 section p {
  margin-top: 9.5px;
  font-family: "Whitney";
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #535766;
}

/* Footer Starts here*/

.footer-container {
  width: 1080px;
  margin: 40px auto;
}
.footer-image-1,
.footer-image-2,
.footer-image-3,
.footer-image-4 {
  width: 100%;
  margin: 0px auto;
  object-fit: cover;
}
.container-1 {
  display: flex;
  justify-content: space-between;
}
.container-1 .item-1 {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.container-1 .item-1 h3 {
  font-weight: 500;
  font-size: small;
  font-weight: bold;
  margin-bottom: 10px;
}
.container-1 .item-1 ul li {
  list-style: none;
  font-size: small;
  color: #aaa;
}
.container-1 .item-1 ul li a {
  text-decoration: none;
}
.container-1 .item-1 .new {
  padding: 0px 3.9px;
  background-color: red;
  border-radius: 10px;
  color: white;
  font-weight: 500;
}
.container-1 .item-2 {
  display: flex;
  flex-direction: column;
}
.container-1 .item-2 h3 {
  font-weight: 500;
  font-size: small;
  font-weight: bold;
  margin-bottom: 10px;
}
.container-1 .item-2 ul li {
  list-style: none;
  font-size: small;
  color: #aaa;
}
.container-1 .item-2 ul li a {
  text-decoration: none;
}
.container-1 .item-3 {
  display: flex;
  flex-direction: column;
}
.container-1 .item-3 h3 {
  font-weight: 500;
  font-size: small;
  font-weight: bold;
  margin-bottom: 30px;
}
.container-1 .item-3 .footer-image-1 img {
  width: 140px;
  height: 42px;
  margin-bottom: 20px;
  margin-right: 7px;
  cursor: pointer;
}
.container-1 .item-3 .footer-icons img {
  width: 20px;
  height: 20px;
  margin-right: 7px;
  cursor: pointer;
}
.container-1 .item-3 .item-3-title {
  margin-bottom: 13px;
}
.container-1 .item-4 {
  display: flex;
  flex-direction: column;
}
.container-1 .item-4 img {
  width: 48px;
  height: 40px;
}
.container-1 .item-4 .item-4-title-1 {
  display: flex;
  margin-bottom: 24px;
  max-width: 500px;
}
.container-1 .item-4 .item-4-title-2 {
  display: flex;
  max-width: 500px;
}
.container-1 .item-4 .item-4-title-1 h3,
.container-1 .item-4 .item-4-title-2 h3 {
  margin-left: 5px;
  font-size: 13px;
}
.container-1 .item-4 .item-4-title-1 p,
.container-1 .item-4 .item-4-title-2 p {
  margin-left: 5px;
  font-size: 14px;
}
.container-1 .item-4 .item-4-title-1 .span-title {
  position: relative;
  top: 20px;
  right: 170px;
}
.container-1 .item-4 .item-4-title-2 .span-title {
  position: relative;
  top: 20px;
  right: 150px;
}

.container-2 .item-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.container-2 .item-1 h3 {
  font-weight: 400;
  font-size: small;
  font-weight: bold;
}
.container-2 .item-1 .item-1-hr {
  border: 0.5px solid rgba(211, 211, 211, 0.507);
  background-color: rgba(211, 211, 211, 0.507);
  border-radius: 2px;
  width: 85%;
  position: relative;
  bottom: 8px;
  left: 140px;
}
.container-2 .item-2 .item-2-link {
  cursor: pointer;
  font-weight: 200;
  font-size: small;
  color: gray;
  border-right: 1.6px solid rgba(211, 211, 211, 0.719);
  padding-right: 5px;
  margin-right: 3px;
}
.container-2 .item-3 {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.container-2 .item-3 .item-3-title-1 {
  display: flex;
}
.container-2 .item-3 .item-3-title-1 p {
  font-weight: 200;
  font-size: small;
  color: gray;
}
.container-2 .item-3 .item-3-title-1 .contact {
  font-weight: 400;
  font-size: small;
  color: blue;
  cursor: pointer;
  margin-left: 3px;
}
.container-2 .item-3 .item-3-title-2 p {
  font-weight: 200;
  font-size: small;
  color: gray;
}
.container-2 .item-4-hr,
.item-4-hr {
  border: 0.5px solid rgba(211, 211, 211, 0.507);
  background-color: rgba(211, 211, 211, 0.507);
  border-radius: 2px;
  display: flex;
  margin-top: 20px;
}
.container-3 {
  display: flex;
  justify-content: space-between;
}
.container-3 .item-1 h3 {
  font-weight: 400;
  font-size: small;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}
.container-3 .item-1 ul li {
  list-style: none;
  font-size: small;
  color: #aaa;
}
.container-3 .item-2 {
  margin-top: 125px;
}
.container-3 .item-2 p {
  font-size: small;
  color: #aaa;
}
.container-3 .item-2 span {
  font-size: small;
  color: #aaa;
}
.container-3 .item-2 .contact-no {
  font-size: small;
  color: rgba(0, 0, 255, 0.884);
  cursor: pointer;
}
.container-3 .item-3-hr {
  border: 0.5px solid rgba(211, 211, 211, 0.507);
  background-color: rgba(211, 211, 211, 0.507);
  border-radius: 2px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
/* Footer Ends Here */


#bagCount{
  position: relative;
}

#cart-count-info{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
  right: 18px;
  background-color: #f16565;
  color: #fff;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}